<article class="list" *ngFor="let listId of sortedListIds">
  <header>List ID: {{ listId }}</header>
  <ul>
    <li *ngFor="let listItem of getListItemsSortedByListId(listId)">
      {{ listItem.name }}
    </li>
  </ul>
</article>
